### Imports

In [2]:
import pyreadr
import pyinstrument
import pandas as pd
from tqdm.notebook import tqdm
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 20)
from datetime import datetime, timedelta

In [3]:
columns_to_keep = ["time_stamp", "bike_number", "bike", "uid", "lat", "lng", "name", "station_number"]

# Practice joins and filters

In [22]:
start_time = datetime(2024, 1, 31, 0, 3, 0)
#end_time = datetime(2024, 2, 1, 0, 00, 0)
current_time = start_time
current_filename = f'../data/Dresden_01-03.24/{current_time.strftime("%Y-%m-%d")}/{current_time.strftime("%Y-%m-%d-%H-%M-00")}.rds'
lag_time = current_time - timedelta(minutes=1)
lag_filename = f'../data/Dresden_01-03.24/{lag_time.strftime("%Y-%m-%d")}/{lag_time.strftime("%Y-%m-%d-%H-%M-00")}.rds'

In [63]:
result = pyreadr.read_r(current_filename)
df_current = result[None][columns_to_keep]

In [64]:
df_current

,time_stamp,bike_number,bike,uid,lat,lng,name,station_number
0,2024-01-31 00:03:00,931104,False,32938439,51.056030,13.722850,MOBIpunkt Bahnhof Mitte,43001
1,2024-01-31 00:03:00,930664,False,32938697,51.057930,13.745820,MOBIpunkt Carolaplatz,43011
2,2024-01-31 00:03:00,930803,False,32938910,51.077640,13.716860,MOBIpunkt Altpieschen,43015
3,2024-01-31 00:03:00,931397,False,32938910,51.077640,13.716860,MOBIpunkt Altpieschen,43015
4,2024-01-31 00:03:00,931637,False,32938910,51.077640,13.716860,MOBIpunkt Altpieschen,43015
...,...,...,...,...,...,...,...,...
1163,2024-01-31 00:03:00,931202,True,353337278,51.078742,13.706899,NaN,NaN
1164,2024-01-31 00:03:00,931640,True,353337283,51.042791,13.736009,NaN,NaN
1165,2024-01-31 00:03:00,930086,True,353337316,51.047289,13.750616,NaN,NaN
1166,2024-01-31 00:03:00,930489,True,353337320,51.084796,13.727681,NaN,NaN
1167,2024-01-31 00:03:00,931058,True,353337326,51.043253,13.741752,NaN,NaN

In [25]:
result = pyreadr.read_r(lag_filename)
df_lag = result[None]

In [26]:
df_lag

,city,time_stamp,uid,lat,lng,bike,name,station_number,booked_bikes,bikes,bikes_available_to_rent,bike_racks,free_racks,maintenance,terminal_type,place_type,rack_locks,no_registration,bike_number,bike_type,lock_types,active,state,electric_lock,boardcomputer
0,Dresden,2024-01-31 00:02:00,32938439,51.056030,13.722850,False,MOBIpunkt Bahnhof Mitte,43001,0,1,1,6,5,False,NaN,18,False,False,931104,150,"frame_lock,dls",True,ok,True,7.551063e+09
1,Dresden,2024-01-31 00:02:00,32938697,51.057930,13.745820,False,MOBIpunkt Carolaplatz,43011,0,1,1,5,4,False,NaN,18,False,False,930664,150,"frame_lock,dls",True,ok,True,7.551063e+09
2,Dresden,2024-01-31 00:02:00,32938910,51.077640,13.716860,False,MOBIpunkt Altpieschen,43015,0,4,4,6,2,False,NaN,18,False,False,930803,196,"frame_lock,dls",True,ok,True,7.551171e+09
3,Dresden,2024-01-31 00:02:00,32938910,51.077640,13.716860,False,MOBIpunkt Altpieschen,43015,0,4,4,6,2,False,NaN,18,False,False,931432,196,"frame_lock,dls",True,ok,True,7.551132e+09
4,Dresden,2024-01-31 00:02:00,32938910,51.077640,13.716860,False,MOBIpunkt Altpieschen,43015,0,4,4,6,2,False,NaN,18,False,False,931397,196,"frame_lock,dls",True,ok,True,7.551134e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1165,Dresden,2024-01-31 00:02:00,353337002,51.051480,13.741164,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,930530,150,"frame_lock,dls",True,ok,True,7.551063e+09
1166,Dresden,2024-01-31 00:02:00,353337012,51.076782,13.724803,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,931357,196,"frame_lock,dls",True,ok,True,7.551135e+09
1167,Dresden,2024-01-31 00:02:00,353337042,51.047329,13.750641,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,930086,196,"frame_lock,dls",True,ok,True,7.551160e+09
1168,Dresden,2024-01-31 00:02:00,353337062,51.084853,13.727458,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,930489,150,"frame_lock,dls",True,ok,True,7.551135e+09
1169,Dresden,2024-01-31 00:02:00,353337103,51.058204,13.724387,True,NaN,NaN,0,1,1,NaN,0,False,NaN,12,False,False,930417,196,"frame_lock,dls",True,ok,True,7.551171e+09

In [52]:
df_merge = df_current[columns_to_keep].merge(df_lag[columns_to_keep], 
                                             on="bike_number", how="outer", 
                                             suffixes=("_current", "_lag"), validate="one_to_one", indicator=True)

In [53]:
df_merge.columns

Index(['time_stamp_current', 'bike_number', 'bike_current', 'uid_current',
       'lat_current', 'lng_current', 'name_current', 'station_number_current',
       'time_stamp_lag', 'bike_lag', 'uid_lag', 'lat_lag', 'lng_lag',
       'name_lag', 'station_number_lag', '_merge'],
      dtype='object')

In [54]:
df_merge[df_merge._merge!="both"]

,time_stamp_current,bike_number,bike_current,uid_current,lat_current,lng_current,name_current,station_number_current,time_stamp_lag,bike_lag,uid_lag,lat_lag,lng_lag,name_lag,station_number_lag,_merge
287,NaN,930470,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-31 00:02:00,True,353336303.0,51.037369,13.749184,NaN,NaN,right_only
624,2024-01-31 00:03:00,931033,False,32940489.0,51.05986,13.71834,MOBIpunkt Friedrichstadt,43024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
838,NaN,931334,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-31 00:02:00,False,45741034.0,51.072482,13.746493,S-Bf. Bischofsplatz (Hecht),43072,right_only
910,NaN,931432,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-31 00:02:00,False,32938910.0,51.077640,13.716860,MOBIpunkt Altpieschen,43015,right_only

In [62]:
df_lag[~df_lag.bike_number.isin(df_current.bike_number.tolist())][columns_to_keep]

,time_stamp,bike_number,bike,uid,lat,lng,name,station_number
3,2024-01-31 00:02:00,931432,False,32938910,51.077640,13.716860,MOBIpunkt Altpieschen,43015
161,2024-01-31 00:02:00,931334,False,45741034,51.072482,13.746493,S-Bf. Bischofsplatz (Hecht),43072
1144,2024-01-31 00:02:00,930470,True,353336303,51.037369,13.749184,NaN,NaN

In [74]:
to_add_rent = df_lag[~df_lag.bike_number.isin(df_current.bike_number.tolist())][columns_to_keep]
to_add_rent

KeyError: "['rent_or_return'] not in index"

In [80]:
to_add_rent = df_lag[~df_lag.bike_number.isin(df_current.bike_number.tolist())][columns_to_keep]
to_add_rent["rent_or_return"] = "rent"

In [83]:
df = pd.concat([df, to_add_rent], ignore_index=True)

/var/folders/zz/b00th7c11zqbbg9m2fhn24d40000gp/T/ipykernel_2582/368273622.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, to_add_rent], ignore_index=True)
/var/folders/zz/b00th7c11zqbbg9m2fhn24d40000gp/T/ipykernel_2582/368273622.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, to_add_rent], ignore_index=True)

In [84]:
df

,time_stamp,bike_number,bike,uid,lat,lng,name,station_number,rent_or_return
0,2024-01-31 00:02:00,931432,False,32938910,51.077640,13.716860,MOBIpunkt Altpieschen,43015,rent
1,2024-01-31 00:02:00,931334,False,45741034,51.072482,13.746493,S-Bf. Bischofsplatz (Hecht),43072,rent
2,2024-01-31 00:02:00,930470,True,353336303,51.037369,13.749184,NaN,NaN,rent

In [81]:
to_add_rent

,time_stamp,bike_number,bike,uid,lat,lng,name,station_number,rent_or_return
3,2024-01-31 00:02:00,931432,False,32938910,51.077640,13.716860,MOBIpunkt Altpieschen,43015,rent
161,2024-01-31 00:02:00,931334,False,45741034,51.072482,13.746493,S-Bf. Bischofsplatz (Hecht),43072,rent
1144,2024-01-31 00:02:00,930470,True,353336303,51.037369,13.749184,NaN,NaN,rent

In [61]:
df_current[~df_current.bike_number.isin(df_lag.bike_number.tolist())][columns_to_keep]

,time_stamp,bike_number,bike,uid,lat,lng,name,station_number
68,2024-01-31 00:03:00,931033,False,32940489,51.05986,13.71834,MOBIpunkt Friedrichstadt,43024

# Iterate over datasets to create df of rents and returns

In [46]:
columns_of_df = columns_to_keep.copy()
columns_of_df.append("rent_or_return")
df = pd.DataFrame(columns=columns_of_df)

start_time = datetime(2024, 1, 31, 0, 1, 0)
#end_time = datetime(2024, 1, 31, 1, 59, 0)
end_time = datetime(2024, 3, 31, 23, 59, 0)
diff_min = int((end_time-start_time).total_seconds()/60)

rent_list = []
return_list = []
#end_time = datetime(2024, 2, 1, 0, 00, 0)
current_time = start_time
lag_time = current_time - timedelta(minutes=1)
lag_filename = f'../data/Dresden_01-03.24/{lag_time.strftime("%Y-%m-%d")}/{lag_time.strftime("%Y-%m-%d-%H-%M-00")}.rds'
df_lag = pyreadr.read_r(lag_filename)[None][columns_to_keep]

for current_time in tqdm(pd.date_range(start=start_time, end=end_time, freq="min")):
        current_filename = f'../data/Dresden_01-03.24/{current_time.strftime("%Y-%m-%d")}/{current_time.strftime("%Y-%m-%d-%H-%M-00")}.rds'
        df_current = pyreadr.read_r(current_filename)[None][columns_to_keep]

        to_add_rent = df_lag[~df_lag.bike_number.isin(df_current.bike_number)]
        if not to_add_rent.empty:
                rent_list.append(to_add_rent)

        to_add_return = df_current[~df_current.bike_number.isin(df_lag.bike_number)]
        if not to_add_return.empty:
                return_list.append(to_add_return)
        
        df_lag = df_current

  0%|          | 0/87839 [00:00<?, ?it/s]

KeyboardInterrupt:

In [ ]:
current_time # Timestamp('2024-03-15 06:17:00')

Timestamp('2024-03-15 06:17:00')

In [47]:
rent_list[0]

,time_stamp,bike_number,bike,uid,lat,lng,name,station_number
176,2024-01-31,930420,False,59538727,51.038122,13.746604,MOBIpunkt LennÃ©platz (BÃ¼rgerwiese),43123

In [11]:
rent_list[1]

,time_stamp,bike_number,bike,uid,lat,lng,name,station_number
426,2024-01-31 00:01:00,930650,True,353243194,51.042138,13.736482,NaN,NaN

In [ ]:
pd.DataFrame

In [50]:
pd.DataFrame(rent_list[2].to_dict(orient="records"))

,time_stamp,bike_number,bike,uid,lat,lng,name,station_number
0,2024-01-31 00:02:00,931432,False,32938910,51.077640,13.716860,MOBIpunkt Altpieschen,43015.0
1,2024-01-31 00:02:00,931334,False,45741034,51.072482,13.746493,S-Bf. Bischofsplatz (Hecht),43072.0
2,2024-01-31 00:02:00,930470,True,353336303,51.037369,13.749184,NaN,NaN

In [51]:
rent_list_dicts = []
for el in rent_list:
    rent_list_dicts.extend(el.to_dict(orient="records"))

In [52]:
return_list_dicts = []
for el in return_list:
    return_list_dicts.extend(el.to_dict(orient="records"))

In [53]:
df = pd.DataFrame(rent_list_dicts)

In [54]:
df

,time_stamp,bike_number,bike,uid,lat,lng,name,station_number
0,2024-01-31,930420,False,59538727,51.038122,13.746604,MOBIpunkt LennÃ©platz (BÃ¼rgerwiese),43123.0
1,2024-01-31 00:01:00,930650,True,353243194,51.042138,13.736482,NaN,NaN
2,2024-01-31 00:02:00,931432,False,32938910,51.077640,13.716860,MOBIpunkt Altpieschen,43015.0
3,2024-01-31 00:02:00,931334,False,45741034,51.072482,13.746493,S-Bf. Bischofsplatz (Hecht),43072.0
4,2024-01-31 00:02:00,930470,True,353336303,51.037369,13.749184,NaN,NaN
...,...,...,...,...,...,...,...,...
226847,2024-03-15 06:11:00,930216,True,375758519,51.024342,13.733174,NaN,NaN
226848,2024-03-15 06:12:00,931211,True,375784608,51.045182,13.813538,NaN,NaN
226849,2024-03-15 06:13:00,930364,True,375847067,51.024298,13.771129,NaN,NaN
226850,2024-03-15 06:14:00,930662,False,75387190,51.050396,13.731514,MOBIpunkt Postplatz,43140.0
226851,2024-03-15 06:14:00,930547,True,375801619,51.049022,13.771930,NaN,NaN

In [55]:
df['rent_or_return']="rent"

In [56]:
to_add = pd.DataFrame(return_list_dicts)

In [57]:
to_add['rent_or_return']="return"

In [58]:
df = pd.concat([df,to_add], ignore_index=True)

In [59]:
df = df.sort_values(["bike_number", "time_stamp"])

In [61]:
df.to_pickle("../data/df.reserve.pkl")

In [43]:
df

,time_stamp,bike_number,bike,uid,lat,lng,name,station_number,rent_or_return
62,2024-01-31 01:08:00,930006,False,53035723,51.053990,13.757543,MOBIpunkt Sachsenallee,43083.0,rent
146,2024-01-31 01:11:00,930006,False,53035723,51.053990,13.757543,MOBIpunkt Sachsenallee,43083.0,return
70,2024-01-31 01:21:00,930064,False,69479028,51.062868,13.751493,Bautzner StraÃŸe / Rothenburger StraÃŸe,43136.0,rent
160,2024-01-31 01:32:00,930064,True,353368618,51.070262,13.738083,NaN,NaN,return
55,2024-01-31 01:02:00,930073,True,353285298,51.069058,13.755489,NaN,NaN,rent
...,...,...,...,...,...,...,...,...,...
121,2024-01-31 00:40:00,931760,True,353349439,51.035876,13.785262,NaN,NaN,return
26,2024-01-31 00:24:00,931773,False,32939517,51.048930,13.744200,MOBIpunkt Pirnaischer Platz,43003.0,rent
122,2024-01-31 00:41:00,931773,True,353349436,51.036222,13.785568,NaN,NaN,return
29,2024-01-31 00:25:00,931786,True,353307843,51.033009,13.732548,NaN,NaN,rent
123,2024-01-31 00:41:00,931786,True,353349677,51.040836,13.688503,NaN,NaN,return

# dataset checks

In [44]:
df[df.bike_number==931492]

,time_stamp,bike_number,bike,uid,lat,lng,name,station_number,rent_or_return
79,2024-01-31 01:56:00,931492,False,55466724,51.029253,13.730582,HÃ¶rsaalzentrum TU Dresden,43116.0,rent

In [18]:
df[df.bike_number==931492]

,time_stamp,bike_number,bike,uid,lat,lng,name,station_number,rent_or_return
165,2024-01-31 01:56:00,931492,False,55466724,51.029253,13.730582,HÃ¶rsaalzentrum TU Dresden,43116,rent

In [45]:
df[df.bike_number==930494]

,time_stamp,bike_number,bike,uid,lat,lng,name,station_number,rent_or_return
78,2024-01-31 01:47:00,930494,True,353304968,51.070476,13.747492,NaN,NaN,rent
166,2024-01-31 01:57:00,930494,True,353375953,51.057511,13.724396,NaN,NaN,return

In [19]:
df[df.bike_number==930494]

,time_stamp,bike_number,bike,uid,lat,lng,name,station_number,rent_or_return
162,2024-01-31 01:47:00,930494,True,353304968,51.070476,13.747492,NaN,NaN,rent
166,2024-01-31 01:57:00,930494,True,353375953,51.057511,13.724396,NaN,NaN,return