### Imports

In [1]:
import pandas as pd

In [2]:
from ydata_profiling import ProfileReport

In [9]:
file_path =  "../data/rents_returns_by_bike_Dresden_01-03_09-10.24.csv" 

df = pd.read_csv(file_path, parse_dates = ["datetime", "date", "datetime_hour"])

In [6]:
df.head()

,time_stamp,bike_number,bike,uid,lat,lng,name,station_number,rent_or_return,date,datetime,datetime_hour
0,2024-01-01 00:03:00,930174,True,339094509,51.049316,13.745968,NaN,NaN,rent,2024-01-01,2024-01-01 00:03:00,2024-01-01 00:00:00
1,2024-01-01 00:04:00,930469,True,339072110,51.039084,13.732190,NaN,NaN,rent,2024-01-01,2024-01-01 00:04:00,2024-01-01 00:00:00
2,2024-01-01 00:05:00,931013,True,339051262,51.052498,13.737698,NaN,NaN,rent,2024-01-01,2024-01-01 00:05:00,2024-01-01 00:00:00
3,2024-01-01 00:06:00,931730,True,339099175,51.068849,13.763910,NaN,NaN,rent,2024-01-01,2024-01-01 00:06:00,2024-01-01 00:00:00
4,2024-01-01 00:07:00,931218,False,69479028,51.062868,13.751493,Bautzner Straße / Rothenburger Straße,43136.0,rent,2024-01-01,2024-01-01 00:07:00,2024-01-01 00:00:00

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1538911 entries, 0 to 1538910
Data columns (total 12 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   time_stamp      1538911 non-null  object
 1   bike_number     1538911 non-null  int64
 2   bike            1538911 non-null  bool
 3   uid             1538911 non-null  int64
 4   lat             1538911 non-null  float64
 5   lng             1538911 non-null  float64
 6   name            941830 non-null   object
 7   station_number  941830 non-null   float64
 8   rent_or_return  1538911 non-null  object
 9   date            1538911 non-null  datetime64[ns]
 10  datetime        1538911 non-null  datetime64[ns]
 11  datetime_hour   1538911 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](3), float64(3), int64(2), object(3)
memory usage: 130.6+ MB

In [11]:
df.describe()

,bike_number,uid,lat,lng,station_number,date,datetime,datetime_hour
count,1.538911e+06,1.538911e+06,1.538911e+06,1.538911e+06,941830.000000,1538911,1538911,1538911
mean,9.309994e+05,3.153778e+08,5.105171e+01,1.374828e+01,21494.354916,2024-06-01 06:11:11.323033344,2024-06-01 20:37:04.018595328,2024-06-01 20:07:22.296923904
min,9.300000e+05,6.768000e+03,4.648815e+01,6.912811e+00,0.000000,2024-01-01 00:00:00,2024-01-01 00:03:00,2024-01-01 00:00:00
25%,9.305030e+05,8.952930e+07,5.103991e+01,1.373142e+01,0.000000,2024-02-18 00:00:00,2024-02-18 18:48:00,2024-02-18 18:00:00
50%,9.310230e+05,3.662284e+08,5.105093e+01,1.374458e+01,0.000000,2024-03-24 00:00:00,2024-03-24 13:52:00,2024-03-24 13:00:00
75%,9.314850e+05,4.776296e+08,5.106518e+01,1.376064e+01,43057.000000,2024-10-01 00:00:00,2024-10-01 09:35:00,2024-10-01 09:00:00
max,9.320130e+05,4.933772e+08,5.514985e+01,2.311523e+01,43523.000000,2024-10-31 00:00:00,2024-10-31 23:58:00,2024-10-31 23:00:00
std,5.663817e+02,1.701047e+08,1.983470e-02,3.136755e-02,21543.958297,NaN,NaN,NaN

In [13]:
df.tail()

,time_stamp,bike_number,bike,uid,lat,lng,name,station_number,rent_or_return,date,datetime,datetime_hour
1538906,2024-10-31 23:57:00,931329,True,493376994,51.059929,13.752776,BIKE 931329,0.0,returns,2024-10-31,2024-10-31 23:57:00,2024-10-31 23:00:00
1538907,2024-10-31 23:57:00,931879,True,42238248,51.040569,13.733552,MOBIpunkt Hauptbahnhof Nord,43052.0,rent,2024-10-31,2024-10-31 23:57:00,2024-10-31 23:00:00
1538908,2024-10-31 23:58:00,930880,True,493376206,51.084902,13.762518,BIKE 930880,0.0,rent,2024-10-31,2024-10-31 23:58:00,2024-10-31 23:00:00
1538909,2024-10-31 23:58:00,931294,True,493377164,51.082204,13.712830,BIKE 931294,0.0,returns,2024-10-31,2024-10-31 23:58:00,2024-10-31 23:00:00
1538910,2024-10-31 23:58:00,931473,True,493352641,51.036449,13.788413,BIKE 931473,0.0,rent,2024-10-31,2024-10-31 23:58:00,2024-10-31 23:00:00

In [15]:
report = ProfileReport(df)

In [16]:
report.to_file("../data/output/ydata_profiling of df.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]